@import '_cssGrid';
// @import '_reset';
#titre {
    text-align: center;
    background-color: #417B5A;
    color:whitesmoke;
}
html{
    background-color: whitesmoke;
}

main {
    @include grid;
    #menu {
        @include l(6, 0);
        @include m(6, 0);
        @include s(6, 0);
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
        }
    }
    article {
        @include grid;
        @include l(6, 0);
        @include m(6, 0);
        @include s(6, 0);
        .titre_article {
            @include l(6, 0);
            @include m(6, 0);
            @include s(6, 0);
            text-align: center;
            color: #502419;
        }
        section {
            border: 2px solid;
            border-color: #502419;
            background-color: #B3D89C;
            border-radius: 10px;
            @include l(2, 0);
            @include m(3, 0);
            @include s(6, 0);
            @include grid;
            img{
                border-radius: 10px;
                @include l(2, 0);
                @include m(2, 0);
                @include s(2, 0);
                width: 100%;
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                @include l(4, 0);
                @include m(4, 0);
                @include s(4, 0);
            }
        }
        #validationCard{
            @include l(6,0);
            @include m(6,0);
            @include s(6,0);
            border: 1px solid;
            border-radius: 10px;
            border-color: #502419;
            background-color: #B3D89C;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}